<!-- About 1 - Bootstrap Brain Component -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Fishes</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.0/components/abouts/about-1/assets/css/about-1.css" />
</head>

<body data-bs-theme="dark">
    <section class="py-3 py-md-5 py-xl-8">
        <div class="container">
            <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
                <div class="col-12 col-lg-12 col-xl-7">
                    <div class="row justify-content-xl-center">
                        <div class="col-12 col-xl-11">
                            <h1><img width="100px" height="100px" src="../static/images/fish-bones-crop.PNG" alt="">
                                <img width="300px" height="100px" src="../static/images/no-fishes-text.PNG" alt=""></h1>
                            <h2 class="h1 mb-3"> Who
                                Are We?</h2>
                            <p class="lead fs-4 text-secondary mb-3">We aim to provide people with the ability to take
                                their web security in their own hands and explore the web safely. </p>
                            <p class="mb-5">Innovation-driven and fueled by a passion for cybersecurity, our dedicated team of aspiring developers embarked on a remarkable journey during the Smart India Hackathon. Our mission: to create a robust defense against phishing threats and ensure the safety of online users. The result of our collective effort is this phishing prevention platform, designed to shield users from falling into the traps of malicious websites.</p>

                            <p>At the heart of our solution lies an exceptionally powerful and adaptive machine learning model. This model serves as the vigilant guardian of your online experience, employing cutting-edge techniques to certify the safety of your digital interactions. Its adaptability allows it to continuously evolve and stay ahead of emerging threats, providing you with peace of mind in an ever-evolving digital landscape.</p>

                            <p>But our commitment doesn't stop there. We're tirelessly working on a Chromium extension, a valuable addition to your browser toolkit. This extension will seamlessly integrate with your browsing experience, offering real-time protection and guidance to ensure your online safety.</p>

                            <p>In our pursuit of excellence, we actively contribute to our model's efficiency. We systematically input phishing websites, constantly refining and fine-tuning our model's capabilities. Our goal is to provide you with the most efficient and reliable protection against phishing, backed by the dedication and innovation of our team.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</body>

</html>