/*NAVIGATION BAR*/
* {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    text-align: center;
    margin: 0%;
    padding-bottom: 0%;
}

h1 {
    font-size: 6rem;
    font-family: 'Monserrat';
}

.brand-na {
    width: 230px;
}

h3 {
    text-align: center;
    font-family: Ubuntu;
    padding: 1.5%;
}

.brand-img {
    transition: transform 2s;
    width: auto;
    height: max-content;
    padding-top: 12px;
    padding-right: 4px;
}

.brand {
    width: 5rem;
}

.brand-img:hover {
    transform: rotate(90deg) scale(1.75) translateX(50px);
}

section {
    height: 100vh;
}

#title {
    background-color: #111111;
}

.dd {
    background-position: center;
    background-size: cover;
    background-color: #111111;
    color:#bbbbbb;
}
.dd:hover{
    background-color: #444444;
    color:#F9F9F9;
}
.dd2 {
    background-position: center;
    background-size: cover;
    color: #111111;
    background-color:#bbbbbb;
}
.dd2:hover{
    color: #444444;
    background-color:#F9F9F9;
}
.reportlink{
    color:red;
}
.hand-fist-beat,
.site-name {
    font-size: 3rem;
}

.brand-name {
    display: flex;
}

/* .brand-name:hover{
    --fa-animation-duration: 4s;
    --fa-fade-opacity: 0.6;
} */
.navbar-nav {
    width: 45%;
    display: flex;
    justify-content: space-around;
}

.nav-item {
    color: white;
    font-size: 1.5rem;
}

/*TITLE*/

.heading-main {
    padding: 10%;
    text-align: center;
    color: whitesmoke;
}

/*Search Bar*/
#search-bar-zone {
    padding: 5% 10%;
    background-color: #F9F9F9;
}

.ref {
    width: 20px;
}

#add-bar-zone {
    padding: 5% 10%;
    background-color: #111111;
    color: #f9f9f9;
}

#footer {
    padding: 5% 10%;
    background-color: #111111;
    color: #f9f9f9;
}

html {
    scroll-behavior: smooth;
}

.search-text-heading {
    font-family: Ubuntu;
    font-size: 2.5rem;
    padding: 3%;
}

.add-text-heading {
    font-family: Ubuntu;
    font-size: 2.5rem;
    padding: 3%;
}

.contacthead {
    font-family: Ubuntu;
    font-size: 2.5rem;
    padding: 3%;
}

.search-type-bar,
.add-type-bar {
    padding: 3%;
}

.choose-platform {
    text-align: left;
}

.btn-bg-grad {
    width: 16%;
}

.social-media-handle {
    width: 100%;
}

/*Pricing*/

#pricing {
    padding-bottom: 2%;
}

.tagged {
    padding: 0% 3% 0%;
}

.card-header {
    font-size: 2.5rem;
    text-align: center;
    text-decoration: solid;
    border-width: auto auto 6px;
}

.premium {
    background-size: cover;
    background-position: center;
    background-image: url('https://media0.giphy.com/media/8w61HSu6xQjoa2NzKN/200w.webp?cid=ecf05e471m84nw9my6k2wutnpkx40c1ax7ojy8jbbsodeou5&ep=v1_gifs_search&rid=200w.webp&ct=g');
}

.Gold {
    background-size: cover;
    background-position: center;
    background-image: url('https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2539.jpg?w=1060&t=st=1682769647~exp=1682770247~hmac=3d89d7de86ecc145e3080339aa3ef75d59701de1e21bf33f002a433e2df4c6cc');
}

card-body {
    background-image: url('https://i.giphy.com/media/2tNvsKkc0qFdNhJmKk/giphy.webp');
}

*/

/*Footer*/
#footer {

    color: #8f8f8f;
    font-size: 0.75rem;
    font-family: "Montserrat-Light", sans-serif;
    text-align: center;

}

.footer-contact-links1 {
    background-position: center;
    background-size: cover;
    background-image: url('https://i.giphy.com/media/2tNvsKkc0qFdNhJmKk/giphy.webp');
}

.footer-contact-links {
    display: flex;
    width: 60%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: auto;
    justify-content: space-around;
}

.footer-link {
    font-size: 1.75rem;
}

.formdesign {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.formdesign>input {
    width: 500px;
}

.con {
    width: 600px;
}

.widl {
    width: 600px;
}

#contact {
    background-color: #F9F9F9;
    color: #111111;
}



